[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
ignore-paths=^commands\\archive.*$|^commands/archive.*$
persistent=no

[FORMAT]
indent-after-paren=2
indent-string="	"

[MESSAGES CONTROL]
disable=C0301