[MASTER]
init-hook="from pylint.config import find_pylintrc; import os, sys; sys.path.append(os.path.dirname(find_pylintrc()))"
ignore-paths=^commands\\archive.*$|^commands/archive.*$
persistent=no

[FORMAT]
indent-after-paren=2
indent-string="	"

[MESSAGES CONTROL]
disable=C0301, R0903, R1732
#C031 disabled because lines length is not a problem
#R0903 disabled because of classes for constants variables in data.py
#R1732 disabled because false positive in changelog : file auto close with json.open()